body{
background-color:#fff3f7;
}

h1{
color:#000000;
text-align:center;
font-family: 'Rufina', serif;
}

p{
paddling:50px;
text-align:left;
fontsize:20px;
}

img{
padding:50px;
}

p {
	font-family: 'Rufina', serif;
}

a{text-decoration: none;
}

a:visited{
	color:#923c3c;
}

a:hover{
	color:#c32b2b;
}
