body {
background-color:#c8ff66;
}

h1{
color:#000000;
text-align: center;
font family:'Merriweather', serif;
}

h2{
	color:#000000;
	text-align:center;
	font family:'Merriweather', serif;
}

p{
paddling:50px;
text-align:left;
fontsize:20px;
}

img{
padding:50px;
}

p{
	font family:'Merriweather', serif;
}
a{text-decoration: none;
}
a:visited{
	color:#923c3c;
}

a:hover{
	color:#c32b2b;
}
.column {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

}
body